@{

    var db = Database.Open("ConStr1");
    var sql = "";
    var userName = "";

    if (Request["userId"].AsInt() > 0)
    {

        sql = "SELECT UserName FROM Users WHERE UserId = @0";
        userName = db.QueryValue(sql, Request["userId"]);



        if (IsPost)
        {

            if (Request["password"].IsEmpty())
            {
                ModelState.AddError("password", "Required");
            }

            if (ModelState.IsValid)
            {

                var token = "";

                sql = "SELECT PasswordVerificationToken FROM webpages_Membership WHERE UserId = @0";
                var dbToken = db.QueryValue(sql, Request["userId"]);

                if (dbToken != null)
                {
                    token = dbToken;
                }
                else
                {
                    token = WebSecurity.GeneratePasswordResetToken(userName);
                    // create a link with this token and send email
                }

                if (Request["password"] != null)
                {
                    // link directed to an action with form to capture password
                    WebSecurity.ResetPassword(token, Request["password"]);
                }
            }


        }

    }

    sql = "SELECT UserId,UserName FROM Users";

    var users = db.Query(sql);



}


<div class="col-md-12">
    <form>
        <div>
            Select User:
            <select name="userId" onchange="this.form.submit()">
                <option value="0">--Select User--</option>
                @if (users != null)
                {
                    foreach (var usr in users)
                    {
                        <option value="@usr.UserId" @Helpers.Selected("userId", usr.UserId.ToString())>@usr.UserName</option>
                    }

                }

            </select>
            <input type="submit" value="View Data" />
        </div>
    </form>

    <form method="post">

        <fieldset>
            <legend>Update User Pasword</legend>
           
            <div>
                <label for="UserName">User Name:</label>
                <label for="UserName">@userName</label>
            </div>
            <div>
                <label for="password">Enter New Password:*</label>
                <input type="password" name="password" />
                @Html.ValidationMessage("password")
            </div>

            <div>
                <input type="submit" value="Update" />
            </div>
        </fieldset>
    </form>

</div>
