@{

    Page.Title = "Create Book";


    var catId = Request["catId"];

    CatBal catBal = new CatBal();
    var catLst = catBal.GetList();
    if (catLst != null)
    {

        catLst = catLst.OrderBy(u => u.Name_En).ToList();
    }

    BookBal bookBal = new BookBal();
    var bookLst = bookBal.GetList();

    if (bookLst != null )
    {
        bookLst = bookLst.OrderBy(u => u.Name_En).ToList();
    }

    if (IsPost)
    {
        if (Request["BookName"].IsEmpty())
        {
            ModelState.AddError("BookName", "Required");
        }

        if (catId.IsEmpty())
        {
            ModelState.AddError("catId", "Required");
        }


        if (ModelState.IsValid)
        {
            //------

            BookEntity data = new BookEntity();
            data.Name_Ar = Request["BookName"].ToString();
            data.Name_En = Request["BookName"].ToString();
            if (!catId.IsEmpty())
            {
                data.CatData.Id = catId.AsInt();
            }

            data.MadeById = WebSecurity.CurrentUserId;
            data.RowId = Guid.NewGuid().ToString();
            bookBal.Add(data);
            Response.Redirect(Request.RawUrl);

        }

    }

}

<div class="col-md-12">
    <form method="post" class="form-horizontal">
        <fieldset>
            <legend>Create Book</legend>

            <div class="form-group">
                <div class="col-md-2 text-left">
                    <label class="control-label" style="float:left;">Book Name:</label>
                </div>

                <div class="col-md-6">
                    <input type="text" id="BookName" name="BookName" class="form-control" maxlength="100" placeholder="Enter Book Name" value="@Request["BookName"]" />
                </div>
                <div class="col-md-4">
                    @Html.ValidationMessage("BookName")
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label for="directManger">Category</label>
                </div>
                <div class="col-md-6">
                    <select name="catId" class="form-control">
                        <option value="">None</option>
                        @if (catLst != null)
                        {
                            foreach (var itm in catLst)
                            {
                                <option value="@itm.Id" @( catId != null && catId == itm.Id.ToString() ? "selected=\"selected\"" : "")>@itm.Name_En</option>   }
                        }
                    </select>

                </div>
                <div class="col-md-4">
                    @Html.ValidationMessage("catId")
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-8">
                    <button type="submit" class="btn btn-default" style="float:right;">Add</button>
                </div>
                <div class="col-md-4">

                </div>

            </div>

        </fieldset>
    </form>
</div>


<div class="col-md-12">
    <h3 style="border-bottom:2px solid #ddd; color:#ff6a00">Book List</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Book Id</th>
                <th>Book Name</th>
                <th>Category Name</th>
            </tr>
        </thead>
        <tbody>
            @if (bookLst != null)
            {
                foreach (var itm in bookLst)
                {
                    itm.CatData.GetData(); 
                    <tr>
                        <td>@itm.Id</td>
                        <td>@itm.Name_En</td>
                        <td>@itm.CatData.Name_En</td>
                    </tr>
                }
            }
        </tbody>
    </table>


</div>
